.pedido li a[href*=index]{
    width: 192px;
    background-image: url(../img/thescream.png); top: 70%; right: 100;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    text-align: right;
    font-size: xx-large;
}

.pedido li a[href*=calculadora]{
    width: 192px;
    background-image: url(../img/calculadora.png); top: 70%; right: 100;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    text-align: right;
    font-size: xx-large;
}

.pedido li a[href*=pokedex]{
    width: 148px;
    background-image: url(../img/pokebola.png); top: 70%; right: 100;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    text-align: right;
    font-size: xx-large;
}

.item{ background-image: url ("../../img/anime1.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime2.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime3.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime4.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime5.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime6.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime7.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime8.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime9.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime10.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime11.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime12.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime13.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime14.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};
.item{ background-image: url ("../../img/anime15.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};
.item{ background-image: url ("../../img/anime16.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};
.item{ background-image: url ("../../img/anime17.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};
.item{ background-image: url ("../../img/anime18.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};
.item{ background-image: url ("../../img/anime19.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};
.item{ background-image: url ("../../img/anime20.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};
.item{ background-image: url ("../../img/anime21.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};
.item{ background-image: url ("../../img/anime22.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};
.item{ background-image: url ("../../img/anime23.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};