html, body{
    width: 100%;
    height: 100%;
}

h1{
    clear: both;
    background-image: url(../img/fundoverde.png); top: 49%; right: 40px;
    text-align: center;
}

h1{
    padding: 10px;
}

h2+p{
    text-indent: 0px;
    border-bottom: 2px solid gray;
}

h2+p{
    text-indent: 0px;
    margin-top: 30px;
}

h2{
    border-color: rgb(0, 191, 0);
    border-style:groove;
    border-width: 10px;
}

p:first-line{
    font-variant: small-caps;
    font-weight: bold;
    padding: 0 45px;
    text-indent: 15px;
}

figure{
    text-align: center;
    padding: 20px;
    margin: 20px;
}

img{
    border-color: rgba(108, 108, 108, 0.614);
    border-style:groove;
    border-width: 10px;
    width: 500px;
    height: 500px;
    margin-right: 60%;
    margin-top: 15%;
}

#imagem_autor{
    margin-left:auto;
    margin-top: auto;
}

video{
    width: 50%;
    height: auto;
}

#demo {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
  }
  #demo .demo-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/fundoprincipal1.jpeg") center;
    background-size: cover;
  }