body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.menu-opcoes ul{
    font-size: 20px;
}

.menu-opcoes a{
    color: green
}

.container{
    position: relative;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

figure{
    text-align:left;
}

.img{
    width: 10%;
    height: 10%;
}

.menu-opcoes{
    position: absolute;
    top: 0px;
    right: 0px;
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 50px;
}

.painel{
    font-size: 30px;
    width: 48%;
    margin: 10px 0;
    padding: 10px;
}

.aula1{
    float: left;
    background-color: rgb(13, 195, 13);
}

.aula2{
    float: right;
    background-color: rgb(13, 195, 13);
}

.painel li{
    display: inline-block;
    width: 20px;
    margin: 45px;
    height: 2px;
    padding-bottom: 50px;
    font-family: fantasy;
}

.painel h2{
    font-family: fantasy;
    font-size: 25px;
    margin: auto;
    text-align: center;
}

.painel a{
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
}

.social li a[href*=github]{
    width: 50px;
    background-image: url(../img/github.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
}

.social li a[href*=instagram]{
    width: 50px;
    background-image: url(../img/instagram.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
}

.social li a[href*=facebook]{
    width: 50px;
    background-image: url(../img/facebook.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
}

footer{
    clear: both;
    background-image: url(../img/fundoverde.png); top: 420px; right: 49;
}

.social li{
    float: left;
    margin-right: 20px;
}

.social{
    position: absolute;
    right: 10px;
    top: 10px;
}