html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    height: 100%;
    width: 100%;
}

header{
    height: 20%;
}

.menu-opcoes ul{
    font-size: 20px;
}

.menu-opcoes a{
    color: green
}

.container .destaque{
    left: 360px;
}

main{
    height: 60%;
}

.container{
    text-align: center;
    position: relative;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

figure{
    text-align:left;
}

.img{
    width: 13%;
    height: 10%;
}

.menu-opcoes{
    position: absolute;
    top: 0px;
    right: 0px;
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 50px;
}

.menu-opcoes a{
    color: green;
}

.menu-opcoes a:hover{
    color: red
}

menu-opcoes a:active{
    color: yellow;
}

.painel{
    font-size: 30px;
    width: 48%;
    margin: 30px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 10px 10px 50px black;
}

.aula1{
    float: left;
    background-color: rgb(13, 195, 13);
    background: linear-gradient(-5deg, rgb(0, 57, 0), rgb(0, 247, 0));
}

.aula2{
    float: left;
    background-color: rgb(13, 195, 13);
    background: linear-gradient(-5deg, rgb(0, 52, 0), rgb(0, 247, 0));
}

.aula3{
    float: left;
    background-color: rgb(13, 195, 13);
    background: linear-gradient(-5deg, rgb(0, 57, 0), rgb(0, 247, 0));
}

.aula4{
    float: left;
    background-color: rgb(13, 195, 13);
    background: linear-gradient(-5deg, rgb(0, 57, 0), rgb(0, 247, 0));
}

.aula5{
    float: left;
    background-color: rgb(13, 195, 13);
    background: linear-gradient(-5deg, rgb(0, 57, 0), rgb(0, 247, 0));
}

.aula7{
    float: left;
    background-color: rgb(13, 195, 13);
    background: linear-gradient(-5deg, rgb(0, 57, 0), rgb(0, 247, 0));
}

.aula8{
    float: left;
    background-color: rgb(13, 195, 13);
    background: linear-gradient(-5deg, rgb(0, 57, 0), rgb(0, 247, 0));
}

.aula9{
    float: left;
    background-color: rgb(13, 195, 13);
    background: linear-gradient(-5deg, rgb(0, 57, 0), rgb(0, 247, 0));
}

.aula10{
    float: left;
    background-color: rgb(13, 195, 13);
    background: linear-gradient(-5deg, rgb(0, 57, 0), rgb(0, 247, 0));
}

.aula11{
    float: left;
    background-color: rgb(13, 195, 13);
    background: linear-gradient(-5deg, rgb(0, 57, 0), rgb(0, 247, 0));
}

.aula12{
    float: left;
    background-color: rgb(13, 195, 13);
    background: linear-gradient(-5deg, rgb(0, 57, 0), rgb(0, 247, 0));
}

.aula14{
    float: left;
    background-color: rgb(13, 195, 13);
    background: linear-gradient(-5deg, rgb(0, 57, 0), rgb(0, 247, 0));
}

.aula15{
    float: left;
    background-color: rgb(13, 195, 13);
    background: linear-gradient(-5deg, rgb(0, 57, 0), rgb(0, 247, 0));
}

.aula16{
    float: left;
    background-color: rgb(13, 195, 13);
    background: linear-gradient(-5deg, rgb(0, 57, 0), rgb(0, 247, 0));
}

.imgex{
    width: 50px;
    height: auto;
    text-align: center;
}

.painel li{
    display: inline-block;
    width: 15%;
    margin: 45px;
    height: 20px;
    padding-bottom: 50px;
    font-family: fantasy;
    border-radius: 5px;
    text-align: center;
}

.painel li:hover{
    box-shadow: 15px 15px 10px black;
    transition: 0.7s;
    background-color: rgb(95, 210, 7);
    transform: scale(1.7) rotate (-5deg);
}


.painel h2{
    font-family: fantasy;
    font-size: 25px;
    margin: auto;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(90, 8, 17, 0.8);
}

.painel h3{
    font-family: fantasy;
    font-size: 25px;
    margin: auto;
    text-align: center;
    text-shadow: 5px 5px 5px white;
}

.painel a{
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
}

.social li a[href*=github]{
    width: 20px;
    background-image: url(../img/github.png); top: 50%; right: 100;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
}

.social li a[href*=instagram]{
    width: 20px;
    background-image: url(../img/instagram2.png); top: 50%; right: 100;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
}

.social li a[href*=linkedin]{
    width: 20px;
    background-image: url(../img/linkedin.png); top: 50%; right: 1000;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
}

.social{
    position: absolute;
    right: -20px;
    top: 199px;
}

footer{
    clear: both;
    background-image: url(../img/fundoverde.png); top: 25%;
    height: 21%;
}

h1{
    font-family: fantasy;
    height: auto;
}

.social li{
    float: left;
    margin-right: 20px;
}