*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-image: url(./img/pokeball.png);
    background-size: cover;
    text-align: center;
}

main{
    padding: 15px;
    display: inline-block;
    margin-top: 10px;
}

#imgpokedex{
    width: 100%;
    max-width: 700px;
}

.container{
    position: relative;
}

#imgpokemon{
    position: absolute;
    bottom: 53%;
    left: 35%;
}

.pokemon-data1{
    
    position: absolute;
    bottom: 40%;
    left: 25%;
}

.form-busca{
    position: absolute;
    bottom: 34.98%;
    left: 18.90%;
    width: 63%;
}


#inputName{
    text-align: center;
    font-family: fantasy;
    width: 100%;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: -3px 2px 0 rgb(127, 127, 127);
    border-bottom-left-radius: 70px; border-bottom-style:groove;
}

.pokemon-data2{
    position: absolute;
    font-size: large;
    text-align: left;
    bottom: 15%;
    left: 7%;
}

.buttons{
    position: absolute;
    top: 90%;
    right: 10%;
    width: 70%;
    display: flex;
}

.button{
    width: 40%;
    gap: 10px;
    font-family: fantasy;
    padding-left: 29px;
    bottom: 36.50%;
    left: 18.90%;
    padding-right: 10%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: -3px 2px 0 rgb(127, 127, 127);
    border-bottom: 70px;
}

#nomePokemon{
    text-transform: capitalize;
}

#tipo1Pokemon{
    text-transform: capitalize;
}

#tipo2Pokemon{
    text-transform: capitalize;
}

#habilidade1{
    text-transform: capitalize;
}

#habilidade2{
    text-transform: capitalize;
}