.item{ background-image: url ("../../img/anime1.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime2.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime3.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime4.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime5.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime6.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime7.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime8.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime9.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};

.item{ background-image: url ("../../img/anime10.png");

    height: 520px;
    background-attachment : fixed;
    background-position : center;
    background-repeat: no-repeat;
    background-size: cover;
};