body{
    font-family: 'Sedgwick Ave', cursive;
}

#esquerdo{
    background-color: tomato;
    float: left;
    width: 49%;
    height: 500px;
}

#esquerdo h1{
    color: yellow;
    text-align: center;
    width: 49%;
}

#direito{
    float: right;
    width: 49%;

}

table{
    text-align: end;
}

footer p{
    text-align: center;
}

#fotoprincipal{
    height: auto;
}